<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Masayuki Koba (oneko)</string>
	<key>Identifier</key>
	<string>neko</string>
	<key>License</key>
	<string>Public domain</string>
	<key>Name</key>
	<string>Neko</string>
	<key>SpriteHeight</key>
	<integer>32</integer>
	<key>SpriteWidth</key>
	<integer>32</integer>
	<key>States</key>
	<dict>
		<key>akubi</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>mati3.gif</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>awake</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>awake.gif</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>d_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>down1.gif</string>
				<string>down2.gif</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>d_togi</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>dtogi1.gif</string>
				<string>dtogi2.gif</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>dl_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>dwleft1.gif</string>
				<string>dwleft2.gif</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>dr_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>dwright1.gif</string>
				<string>dwright2.gif</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>jare</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>jare2.gif</string>
				<string>mati2.gif</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>kaki</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>kaki1.gif</string>
				<string>kaki2.gif</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>l_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>left1.gif</string>
				<string>left2.gif</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>l_togi</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>ltogi1.gif</string>
				<string>ltogi2.gif</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>r_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>right1.gif</string>
				<string>right2.gif</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>r_togi</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>rtogi1.gif</string>
				<string>rtogi2.gif</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>sleep</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>sleep1.gif</string>
				<string>sleep2.gif</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>4</integer>
		</dict>
		<key>stop</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>mati2.gif</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>u_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>up1.gif</string>
				<string>up2.gif</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>u_togi</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>utogi1.gif</string>
				<string>utogi2.gif</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>ul_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>upleft1.gif</string>
				<string>upleft2.gif</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>ur_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>upright1.gif</string>
				<string>upright2.gif</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
