<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>NekoAI Community</string>
	<key>Identifier</key>
	<string>ghostpixel</string>
	<key>License</key>
	<string>MIT, from github.com/nucket/NekoAI</string>
	<key>Name</key>
	<string>Ghost</string>
	<key>Persona</key>
	<string>A friendly pixel ghost who drifts around your desktop with a gentle glow.</string>
	<key>SpriteHeight</key>
	<integer>32</integer>
	<key>SpriteWidth</key>
	<integer>32</integer>
	<key>States</key>
	<dict>
		<key>akubi</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>yawn1.png</string>
				<string>yawn2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>3</integer>
		</dict>
		<key>awake</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>awaken1.png</string>
				<string>awaken2.png</string>
				<string>awaken3.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>d_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>walk_down1.png</string>
				<string>walk_down2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>dl_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>walk_down_left1.png</string>
				<string>walk_down_left2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>dr_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>walk_down_right1.png</string>
				<string>walk_down_right2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>jare</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>playing1.png</string>
				<string>playing2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>kaki</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>bored1.png</string>
				<string>bored2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>4</integer>
		</dict>
		<key>l_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>walk_left1.png</string>
				<string>walk_left2.png</string>
				<string>walk_left3.png</string>
				<string>walk_left4.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>r_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>walk_right1.png</string>
				<string>walk_right2.png</string>
				<string>walk_right3.png</string>
				<string>walk_right4.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>sleep</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>sleep1.png</string>
				<string>sleep2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>4</integer>
		</dict>
		<key>stop</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>idle1.png</string>
				<string>idle2.png</string>
				<string>idle3.png</string>
				<string>idle4.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>3</integer>
		</dict>
		<key>u_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>walk_up1.png</string>
				<string>walk_up2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>ul_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>walk_up_left1.png</string>
				<string>walk_up_left2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>ur_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>walk_up_right1.png</string>
				<string>walk_up_right2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
