<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>NekoAI Community</string>
	<key>Identifier</key>
	<string>penguinpixel</string>
	<key>License</key>
	<string>MIT, from github.com/nucket/NekoAI</string>
	<key>Name</key>
	<string>Pingu</string>
	<key>Persona</key>
	<string>A cheerful pixel penguin who wobbles around your desktop.</string>
	<key>SpriteHeight</key>
	<integer>32</integer>
	<key>SpriteWidth</key>
	<integer>32</integer>
	<key>States</key>
	<dict>
		<key>akubi</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>yawn2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>3</integer>
		</dict>
		<key>awake</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>awake.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>d_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>down1.png</string>
				<string>down2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>d_togi</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>downclaw1.png</string>
				<string>downclaw2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>dl_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>downleft1.png</string>
				<string>downleft2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>dr_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>downright1.png</string>
				<string>downright2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>jare</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>scratch1.png</string>
				<string>scratch2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>kaki</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>wash2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>2</integer>
		</dict>
		<key>l_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>left1.png</string>
				<string>left2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>l_togi</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>leftclaw1.png</string>
				<string>leftclaw2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>r_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>right1.png</string>
				<string>right2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>r_togi</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>rightclaw1.png</string>
				<string>rightclaw2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>sleep</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>sleep1.png</string>
				<string>sleep2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>4</integer>
		</dict>
		<key>stop</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>idle.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>4</integer>
		</dict>
		<key>u_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>up1.png</string>
				<string>up2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>u_togi</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>upclaw1.png</string>
				<string>upclaw2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>ul_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>upleft1.png</string>
				<string>upleft2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
		<key>ur_move</key>
		<dict>
			<key>Frames</key>
			<array>
				<string>upright1.png</string>
				<string>upright2.png</string>
			</array>
			<key>TicksPerFrame</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
